.authorizationContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: linear-gradient(rgba(29, 165, 122, 0.6),
          rgba(46, 46, 31, 0.6)),
  url("../../assets/login-page-background.jpg"), no-repeat;
  background-size: cover;
}

.formWrapper {
  border-radius: 5px;
  background: linear-gradient(rgba(29, 165, 122, 1),
          rgba(46, 46, 31, 0.6)),
  url("../../assets/login-page-background.jpg");
  width: 250px;
  padding: 20px;
  box-shadow: 0 0 8px #2e2e1f;
}

.formItem {
  margin-bottom: 15px !important;
}