.layout {
  height: 100%;
  &Sider {
    overflow: auto;
  }
}

.menu {
  border-right: 0;
  background: transparent;
  & :global(.ant-menu-inline.ant-menu-sub) {
    background: transparent;
  }

}

.logoWrapper {
  position: relative;
  width: 100%;
  padding: 35px 10px 45px 10px;
  //background: rgba(16,51,27,1);
  //background: -moz-linear-gradient(top, rgba(16,51,27,1) 0%, rgba(27,122,90,1) 100%);
  ////background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(16,51,27,1)), color-stop(100%, rgba(27,122,90,1)));
  //background: -webkit-linear-gradient(top, rgba(16,51,27,1) 0%, rgba(27,122,90,1) 100%);
  //background: -o-linear-gradient(top, rgba(16,51,27,1) 0%, rgba(27,122,90,1) 100%);
  //background: -ms-linear-gradient(top, rgba(16,51,27,1) 0%, rgba(27,122,90,1) 100%);
  //background: linear-gradient(to bottom, rgba(16,51,27,1) 0%, rgba(27,122,90,1) 100%);
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#10331b', endColorstr='#1b7a5a', GradientType=0 );
}

.systemLogo {
  height: 64px;
  color: #fff;
  padding: 5px 20px;
  font-size: 36px;
  font-weight: lighter;
  text-transform: uppercase;
  background: #333;
  box-shadow: 0 5px 10px -5px rgba(0,0,0,.5);
  text-align: center;
  margin-bottom: 10px;
}

.contentContainer {
  overflow: auto;
  height: 100%;
}

.childrenWrapper {
  background: #ebebe0;
  padding: 20px;
  height: 100%;
}

.gradTop {
  background: rgba(16,51,27,1);
  background: -moz-linear-gradient(top, rgba(16,51,27,1) 0%, rgba(27,122,90,1) 100%);
  //background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(16,51,27,1)), color-stop(100%, rgba(27,122,90,1)));
  background: -webkit-linear-gradient(top, rgba(16,51,27,1) 0%, rgba(27,122,90,1) 100%);
  background: -o-linear-gradient(top, rgba(16,51,27,1) 0%, rgba(27,122,90,1) 100%);
  background: -ms-linear-gradient(top, rgba(16,51,27,1) 0%, rgba(27,122,90,1) 100%);
  background: linear-gradient(to bottom, rgba(16,51,27,1) 0%, rgba(27,122,90,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#10331b', endColorstr='#1b7a5a', GradientType=0 );
  height: 20%;
  width: 100%;
}
.gradBottom {
  background: rgba(27,122,90,1);
  background: -moz-linear-gradient(top, rgba(27,122,90,1) 0%, rgba(16,51,27,1) 100%);
  //background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(27,122,90,1)), color-stop(100%, rgba(16,51,27,1)));
  background: -webkit-linear-gradient(top, rgba(27,122,90,1) 0%, rgba(16,51,27,1) 100%);
  background: -o-linear-gradient(top, rgba(27,122,90,1) 0%, rgba(16,51,27,1) 100%);
  background: -ms-linear-gradient(top, rgba(27,122,90,1) 0%, rgba(16,51,27,1) 100%);
  background: linear-gradient(to bottom, rgba(27,122,90,1) 0%, rgba(16,51,27,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b7a5a', endColorstr='#10331b', GradientType=0 );
  height: 80%;
  width: 100%;
}

.layoutSider {
  width: 230px;

  background: linear-gradient(to bottom, #10331b 0%, #1b7a5a 50%, #10331b 100%) !important;
  //background: rgba(25,148,111,1);
  //background: -moz-linear-gradient(top, rgba(25,148,111,1) 0%, rgba(37,79,50,1) 100%);
  ////background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(25,148,111,1)), color-stop(100%, rgba(37,79,50,1)));
  //background: -webkit-linear-gradient(top, rgba(25,148,111,1) 0%, rgba(37,79,50,1) 100%);
  //background: -o-linear-gradient(top, rgba(25,148,111,1) 0%, rgba(37,79,50,1) 100%);
  //background: -ms-linear-gradient(top, rgba(25,148,111,1) 0%, rgba(37,79,50,1) 100%);
  //background: linear-gradient(to bottom, rgba(25,148,111,1) 0%, rgba(37,79,50,1) 100%);
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19946f', endColorstr='#254f32', GradientType=0 );
  //background: rgba(27,122,90,1);
  //background: -moz-linear-gradient(top, rgba(27,122,90,1) 0%, rgba(16,51,27,1) 100%);
  ////background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(27,122,90,1)), color-stop(100%, rgba(16,51,27,1)));
  //background: -webkit-linear-gradient(top, rgba(27,122,90,1) 0%, rgba(16,51,27,1) 100%);
  //background: -o-linear-gradient(top, rgba(27,122,90,1) 0%, rgba(16,51,27,1) 100%);
  //background: -ms-linear-gradient(top, rgba(27,122,90,1) 0%, rgba(16,51,27,1) 100%);
  //background: linear-gradient(to bottom, rgba(27,122,90,1) 0%, rgba(16,51,27,1) 100%);
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b7a5a', endColorstr='#10331b', GradientType=0 );
}