.container {
  margin: 0;
  min-height: 280px;
  height: 100%;
  position: relative;
}

.breadcrumbsWrapper {
  position: absolute;
  top: -20px
}

.childrenWrapper {
  background: #fff;
  padding: 20px;
  height: 100%;
  border-radius: 5px;
  //overflow: auto;
}