.preview {
  max-width: 55px;
  height: auto;
  border-radius: 5px;
}

.countryImage {
  padding: 0 20px;
  text-align: center;
}

.colImageStyles{
  min-width: 250px;
}

.colStyles{
  min-width: 180px;
}