.header {
  background-color: #fff;
  position: relative;
  padding: 0 20px 0 0;
}

.logo {
  padding: 15px 40px;
  height: 64px;
  width: 200px;
  position: absolute;
  left: 0;
  top: 0;
}

.departmentLabelItem {
  font-weight: 600;
}

.popoverItem {
  & > div > div {
    &:last-child {
      background: #f5f5f0;
    }
  }
}

.pic {
  height: 100%;
  //background: url(../../../../assets/login-page-background.jpg) no-repeat left center;
  background-size: contain;
  display: inline-block;
  //width: 100%;
}

.menu {
  line-height: 64px;
  background-color: #fff;
  position: absolute;
  right: 24px;
  bottom: 0;
  border-bottom: none;
}

.shadow {
  position: relative;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  background: white;
}

.avatarItem {

  background: green;
  vertical-align: middle;
}
.isAvatar{

  vertical-align: middle;
  background: inherit;
}